html, body {
    height: 100%;
    background-color: white; /*rgb(142,242,242);*/
    /*overflow-x: hidden;*/
}
h1, h2, h3, h2 small {
    font-weight: lighter;
}



/* NAV BAR:
  http://smarchal.com/twbscolor/
  http://smarchal.com/twbscolor/?bd=d0100b&bh=D0100B&cd=cccccc&ch=ffffff
*/
.navbar-default {
	background-color: rgb(53,62,72);
	border-color: #4c9176;
    
    font-weight:lighter;
    font-size: 1.1em;
    text-transform:uppercase;
}
.navbar-default .navbar-brand {
	color: #cccccc;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #cccccc;
}
.navbar-default .navbar-nav > li > a {
	color: #cccccc;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #4c9176;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #4c9176;
}
.navbar-default .navbar-toggle {
	border-color: #4c9176;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #4c9176;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #cccccc;
}
.navbar-default .navbar-link {
	color: #cccccc;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #cccccc;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #4c9176;
	}
}



#people, #ref, #offer, #join {
    /*
      set offset in containers to have scrollspy working correctly
      http://stackoverflow.com/questions/9288482/how-do-i-set-the-offset-for-scrollspy-in-bootstrap
    */
    padding-top: 100px;
    margin-top: -40px;
    margin-bottom:40px;
    
}




/*
   footer
*/

footer {
    
    margin-top:100px;
    
    color: #eee;
    padding:1em;
    
    font-weight:lighter;
    
    /*background: #4c9176; /* green */
    background: rgb(53,62,72); /* dark onyx*/
    
}
#white_cross {
    background: url('../img/Logo_c99_small_white.png') no-repeat top left;
    background-size: contain;
    min-height:200px;
} 
footer a, footer a:active, footer a:hover, footer a:visited {
    color:#eee;
}



/*
  first header, image
  loyalty free
  https://www.pexels.com/photo/man-wearing-black-and-white-stripe-shirt-looking-at-white-printer-papers-on-the-wall-212286/
*/
#jumbotron {
    background: url(../img/pexels-photo-212286.jpeg) no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height:100%;

    
}
#logo_wrapper {
    
    /*
    This is needed to position div according to bootstrap's fluid grid.
    Otherwise centering would not work.
    */
    
    width:100%;
    /*position: sticky;*/
    position: absolute;
    /*top: 80%;*/
    bottom: 0px;
    right:0;


}
#logo {
    /*
    Logo goes here.
    
    Center this div, but keep it fluid.
    
    float: none;
    margin-left: auto;
    margin-right: auto;
    */
    background: rgba(255,255,255,0.85);
}

img.sideimg {
    max-width: 100px;
    max-height: 100px;
}


/* SUCCESS STORIES
*/
/*Slider*/

.slider {
    width: auto;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 0;
    margin-bottom: 35px;
}

.slider .story {
    display: inline-block;
    position: relative;


}

.slider .story:last-of-type {
    margin-right: 0;
}

.story .tile-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 75%;
    background-color: rgba(0,0,0,0.5);
}

.story .tile-wrapper::before {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 100;
    display: block;
}

.story .tile-wrapper::after {
    content: attr(data-text) "\A";
    white-space: pre;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    opacity: 0;
    text-align: center;
    color: white;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 101;
    font-size: 18px;
    display: inline-block;
}

.story .tile-wrapper:hover::after, .story .tile-wrapper:hover::before{
    opacity: 1;
}

.slider h4 {
    white-space: pre-wrap;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.slider h4:hover {
    text-decoration: none;
}

.image {
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    height: 100%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
    display: inline-block;

}

.container:hover .overlay {
    opacity: 1;
}
